// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    transition: 0.2s all;
}

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans';
}
