/* Coolors Exported Palette - coolors.co/0b3954-087e8b-bfd7ea-ff5a5f-c81d25 */

/* HSL */
$color1: hsla(202%, 77%, 19%, 1);
$color2: hsla(186%, 89%, 29%, 1);
$color3: hsla(207%, 51%, 83%, 1);
$color4: hsla(358%, 100%, 68%, 1);
$color5: hsla(357%, 75%, 45%, 1);

/* RGB */
$color1: rgba(11, 57, 84, 1);
$color2: rgba(8, 126, 139, 1);
$color3: rgba(191, 215, 234, 1);
$color4: rgba(255, 90, 95, 1);
$color5: rgba(200, 29, 37, 1);